<div class="flex flex-row justify-center gap-20 items-center mt-10">
    <div
      *ngFor="let category of dataCategory; let last = last"
      (mouseenter)="openMenu(category)"
      (mouseleave)="closeMenu()"
    >
      <div class="relative">
        <div class="cursor-pointer text-2xl">
          <a  (click)="showproductbyid(category._id)">{{ category.name }}</a>
          <span class="pr-20 border-r border-black" *ngIf="!last"></span>
        </div>

        <div
          *ngIf="category === activeCategory"
          class="absolute top-full left-0 bg-white p-4 border border-gray-300 shadow-md z-10"
        >
          <div>
            <div
              *ngFor="let subcat of category.subCategory"
              class="cursor-pointer w-32 mb-1 hover:bg-slate-400"
            >
              <div
                *ngIf="category.subCategory && category.subCategory.length > 0"
              >
                <mat-icon class="text-gray-400">minimize</mat-icon>
                <a  (click)="showproductbyidsub(subcat._id)">{{ subcat.name }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

</div>
