<div class="flex justify-center flex-col items-center mt-20 text-primary-color">

   <h1>User Sign up</h1>
   <form class="flex flex-col justify-center w-60" action="" [formGroup]="LoginForm" (ngSubmit)="onSubmit()" >


       <mat-form-field appearance="outline">
           <mat-label>Email</mat-label>
            <input type="text" matInput placeholder="email"  name="email" formControlName="email"/>  
       </mat-form-field>

       <mat-form-field appearance="outline">
           <mat-label>Password</mat-label>
           <input type="password" matInput placeholder="password" formControlName="password"/>
       </mat-form-field>

       <button class="form-btn" >Login</button>

   </form>
   <span href="">Do you have an account yet?</span>
</div>