<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" mode="side">
      <mat-nav-list>
        <a mat-list-item routerLink="/home">Home</a>
        <a mat-list-item routerLink="/about">About</a>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Projects
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLink="/projects/project1">Project 1</a>
            <a mat-list-item routerLink="/projects/project2">Project 2</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  