<div class="flex  flex-col   text-primary-color justify-center items-center">

    <h1>Add Admin</h1>
    <form class="flex flex-col justify-center w-60" action="" [formGroup]="addAdminForm" (ngSubmit)="onSubmit()" >
        
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
             <input type="text" matInput placeholder="name"  name="name" formControlName="name"/>  
        </mat-form-field>
 
 
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
             <input type="text" matInput placeholder="email"  name="email" formControlName="email"/>  
        </mat-form-field>
 
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="password" formControlName="password"/>
        </mat-form-field>
 
        <button mat-flat-button color="accent">Add</button>
 
    </form>
 </div>
