<header class="container mx-auto">
  <div class="flex flex-row justify-between mt-5">
    <div>
      <mat-form-field>
        <mat-select [formControl]="panelColor" (selectionChange)="switchLanguage($event)">
          <mat-option value="vn">Việt Nam</mat-option>
          <mat-option value="en">EngLish</mat-option>
        </mat-select>
      </mat-form-field>
      
    </div>
    <div class="horizontal-list-container" [ngSwitch]="menuType">
      <ul *ngSwitchCase="'default'" class="flex flex-row gap-6 pt-2 text-sm cursor-pointer">
        <li  routerLink="/signin" class="hover:text-cyan-500">{{ 'data.register' | translate }}</li>
        <li  routerLink="/login" class="hover:text-cyan-500">{{ 'data.login' | translate }}</li>
        <li class="hover:text-cyan-500">{{ 'data.wishlist' | translate }}</li>
        <li class="hover:text-cyan-500">{{ 'data.shopping_cart' | translate }}</li>
      </ul>

      <ul *ngSwitchCase="'user'" class="flex flex-row gap-6 pt-2 text-sm cursor-pointer">
        <li class="hover:text-cyan-500" (click)="sellerAccount()">{{ 'data.seller' | translate }}</li>
        <li class="hover:text-cyan-500">{{ 'data.shopping_cart' | translate }}</li>
        <li  mat-button [matMenuTriggerFor]="menu">
          {{nameUser}}
        </li>
        
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Profile</button>
            <button mat-menu-item (click)="logout()">Logout</button>
          </mat-menu>

      </ul>
      
    </div>
  </div>
  <div class="border-b border-gray-300"></div>

  <div class="flex flex-row justify-between mt-10 mb-4">
    <a href=""
      ><img
        src="https://demo.nopcommerce.com/Themes/DefaultClean/Content/images/logo.png"
        alt=""
    /></a>

    <mat-form-field class="example-form-field">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search" />
      <button mat-button matSuffix mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="border-b border-gray-300"></div>

  
</header>
