<div class="flex flex-wrap justify-center gap-20 mt-10">
    <div
      *ngFor="let category of dataCategory"
      (mouseenter)="openMenu(category)"
      (mouseleave)="closeMenu()"
    >
      <div class="relative">
        <div class="cursor-pointer text-2xl pr-20 border-r border-black">
          <a href="" routerLink="/category/category._id">{{ category.name }}</a>
        </div>

        <div
          *ngIf="category === activeCategory"
          class="absolute top-full left-0 bg-white p-4 border border-gray-300 shadow-md"
        >
          <div>
            <div
              *ngFor="let subcat of category.subCategory"
              class="cursor-pointer w-32 mb-1 hover:bg-slate-400"
            >
              <mat-icon class="text-gray-400 ">minimize</mat-icon>
              <a href="" >{{ subcat.name }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="border-b border-gray-300 mt-10"></div>

<div class="container mx-auto">
    
  <h1>123</h1>
</div>